.video__iframes {
    display: flex;
    flex-direction: row;
    width: 1050px;
    /*515px + 515px videos width + 20px between*/
    margin: 0px auto 0px auto;
    justify-content: space-between;
  }