.kaufman__triangle {
    background-image: url(../../../images/kaufman-triangle.svg);
    position: absolute;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    top: 0px;
    right: -210px;
    width: 877px;
    height: 877px;
    z-index: -1;
  }